<a href="{{ section.settings.url_enter_link }}" class="enter mobile w-inline-block"> <div class="event_info">enter</div> </a>
 {% schema %} {"tag":"section","name":"intro-page","class":"home-hero","settings":[{"id":"url_enter_link","type":"url","label":"enter-Link"}],"presets":[{"name":"intro-page","category":"Liquify","blocks":[]}]} {% endschema %}